<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="cs" connectionString="server = Localhost; Uid=root; Password=; Database=brewery;port=3306; SslMode=none;"/>
    <add name="remote" connectionString="server = 172.16.8.10; Uid=SergioGC; Password=qwerty; Database=brewery;port=3000; SslMode=none;"/>
</connectionStrings>
</configuration>